.movies {
    display : flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px;
    margin: 10px;
    background-color: deepskyblue;
}

.movies .card{
    background-color: rgb(0, 42, 255);
    color: aquamarine;
}

@keyframes expand {
    0%   {transform: scale(1.0)}
    20%  {transform: scale(1.05)}
    80%  {transform: scale(1.1)}
}

.movies .card:hover{
    cursor:grab ;
    animation: expand .3s ease 0s 1 normal forwards;
}
